#membros{
	padding-top: 10px;
	padding-bottom: 100px;
}

#membros #cards{  
    padding-top: 50px;
    padding-bottom: 100px;
}


/*Cards*/
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: 22px 10px 10px 10px;
  padding: 0;
  text-align: center;
}

.card2 h2{
    font-size: 20px;
}

.container2 {  
  padding: 0;
}

.container2::after {
  content: "";
  clear: both;
  display: table;

}

.title2 {
  color: grey;
  font-size: 15px;
}

.card2 .btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin: 0;
}

.card2 a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card2 .btn:hover, a:hover {
  opacity: 0.7;
}



/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}




/**Modal de membros*/

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal {
  text-align: center;
  padding: 0;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header {
    padding: 2px 16px 0px 0px;
    background-color: #3d3d3d;
    color: white;
}

.modal-header .fotoPerfil{
    width: 200px; 
    float: left; 
    margin-top: -2px;
    margin-left: -15px;     
    padding-right: 10px;
}


.modal-header .list-inline{
	float: right;
    display: inline-flex; 
    margin-top: -40px
}

.modal-body {padding: 2px 16px;}



/*Titulo da page*/
#dividerMembros
    {        
        padding: 100px 0px 10px 0px;
        background-size: cover;
        background-repeat: no-repeat;
        color: #000;
    }
#dividerMembros h2
    {
        font-size: 40px;
    }
#dividerMembros strong
    {
        color: #DD5724;
    }

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 321px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

      
    .card2 {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 100px;
      margin: 22px 5px 5px 5px;
      padding: 0;
      text-align: center;
    } 
    .card2 h2{
        font-size: 8px;
    }

    .title2 {
      color: grey;
      font-size: 5px;
    }


     .modal-header .fotoPerfil{
        width: 150px; 
        height: 100%;
        float: left; 
    }


    .modal-header .list-inline{ 
        float: right; 
        display: inline-flex; 
        margin-top: -50px
        margin-left: 10px;
    }

    .modal-header .list-inline li img{ 
        width: 20px;
        height: auto;
    }

    .modal-body {padding: 2px 16px;}

    .modal-title{font-size: 15px;}

    .modal-header h4{font-size: 13px;}

    .modal-header span{font-size: 10px;}

    .modal-header {font-size: 8px;}
}

@media only screen 
  and (min-device-width: 400px) 
  and (max-device-width: 720px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      
    .card2 {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 180px;
      margin: 22px 5px 5px 5px;
      padding: 0;
      text-align: center;
    }
    .card2 h2{
        font-size: 10px;
    }

    .title2 {
      color: grey;
      font-size: 8px;
    }

    /**Modal de membros*/

    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 2px 0px 0px;
        background-color: #DD5724;
        color: white;
    }

    .modal-header .fotoPerfil{
        width: 150px; 
        height: 100%;
        float: left; 
    }


    .modal-header .list-inline{ 
        float: right; 
        display: inline-flex; 
        margin-top: -50px
    }

    .modal-header .list-inline li img{ 
        width: 25px;
        height: auto;
    }

    .modal-body {padding: 2px 16px;}

    .modal-title{font-size: 15px;}

    .modal-header h4{font-size: 12px;}

    .modal-header span{font-size: 15px;}

    .modal-header {font-size: 10px;}
}

@media only screen 
  and (min-device-width: 720px) 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      
    .card2 {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 230px;
      margin: 22px 5px 5px 5px;
      padding: 0;
      text-align: center;
    }
    .card2 h2{
        font-size: 15px;
    }

    .title2 {
      color: grey;
      font-size: 12px;
    }

    /**Modal de membros*/

    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 2px 0px 0px;
        background-color: #DD5724;
        color: white;
    }

    .modal-header .fotoPerfil{
        width: 150px; 
        height: 100%;
        float: left; 
    }


    .modal-header .list-inline{ 
        float: right; 
        display: inline-flex; 
        margin-top: -50px
    }

    .modal-header .list-inline li img{ 
        width: 25px;
        height: auto;
    }

    .modal-body {padding: 2px 16px;}

    .modal-title{font-size: 15px;}

    .modal-header h4{font-size: 12px;}

    .modal-header span{font-size: 15px;}

    .modal-header {font-size: 10px;}
}





@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 400px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .card2 {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 155px;
      margin: 22px 5px 5px 5px;
      padding: 0;
      text-align: center;
    }

    .card2 h2{
        font-size: 10px;
    }

    .title2 {
      color: grey;
      font-size: 8px;
    }


  } 



@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 350px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .card2 {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 135px;
      margin: 22px 5px 5px 5px;
      padding: 0;
      text-align: center;
    }

    .card2 h2{
        font-size: 10px;
    }

    .title2 {
      color: grey;
      font-size: 8px;
    }


  } 
